{% extends 'base.html.twig' %}
{% block title %}Les bus doubles{% endblock %}
{% block main %}
    <section id="condor" class="bus rev">
        <div class="front">
            <div class="content">
                <h3>le condor</h3>
                <h4>double bus terrasse</h4>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">55 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <h3>le condor</h3>
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section id="bigben" class="bus rev">
        <div class="front">
            <div class="content">
                <h3>le big ben</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">55 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <h3>le big ben</h3>
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section id="darkkiss" class="bus rev">
        <div class="front">
            <div class="content">
                <h3>le dark kiss</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">55 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <h3>le dark kiss</h3>
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section id="seven7" class="bus rev">
        <div class="front">
            <div class="content">
                <h3>le seven 7</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">55 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <h3>le seven 7</h3>
                <div class="zoom"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block modals %}
    <div class="modal condor" role="dialog" aria-modal="true" aria-label="Galerie de photos du Condor agrandie">
        <div class="close"></div>
        <div class="slider">
            <img src="{{ asset('build/images/photo/bus/double/condor/1.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/condor/2.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/condor/3.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/condor/4.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/condor/5.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/condor/6.webp') }}" alt="Image défilant horizontalement">
        </div>
    </div>
    <div class="modal bigben" role="dialog" aria-modal="true" aria-label="Galerie de photos du Big Ben agrandie">
        <div class="close"></div>
        <div class="slider h-size-60">
            <img src="{{ asset('build/images/photo/bus/double/bigben/1.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/bigben/2.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/bigben/3.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/bigben/4.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/bigben/5.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/bigben/6.webp') }}" alt="Image défilant horizontalement">
        </div>
    </div>
    <div class="modal darkkiss" role="dialog" aria-modal="true" aria-label="Galerie de photos du Dark Kiss agrandie">
        <div class="close"></div>
        <div class="slider">
            <img src="{{ asset('build/images/photo/bus/double/darkkiss/1.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/darkkiss/2.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/darkkiss/3.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/darkkiss/4.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/darkkiss/5.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/darkkiss/6.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/darkkiss/7.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/darkkiss/8.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/darkkiss/9.webp') }}" alt="Image défilant horizontalement">
        </div>
    </div>
    <div class="modal seven7" role="dialog" aria-modal="true" aria-label="Galerie de photos du Seven 7 agrandie">
        <div class="close"></div>
        <div class="slider">
            <img src="{{ asset('build/images/photo/bus/double/seven7/1.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/seven7/2.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/double/seven7/3.webp') }}" alt="Image défilant horizontalement">
        </div>
    </div>
{% endblock %}