{% extends 'base.html.twig' %}
{% set title = "Nos bus classiques" %}
{% set meta_description = "Découvrez notre sélection de bus classiques en location, pour faire la fête jusq'à 35 personnes, avec DJ et frigos !"%}
{% block main %}
    <section id="sodade" class="bus rev">
        <div class="front">
            <div class="content">
                <h3>le sodade</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">35 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <h3>le sodade</h3>
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section id="poowood" class="bus rev">
        <div class="front">
            <div class="content">
                <h3>le poowood</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">35 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <h3>le poowood</h3>
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section id="angec6" class="bus rev">
        <div class="front">
            <div class="content">
                <h3>l'ange c6</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">35 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <h3>l'ange c6</h3>
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section id="slinone" class="bus rev">
        <div class="front">
            <div class="content">
                <h3>le s linone</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">35 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <h3>le s linone</h3>
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section id="carnaval" class="bus rev">
        <div class="front">
            <div class="content">
                <h3>le Carnaval</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">35 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <h3>le Carnaval</h3>
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section id="starlord" class="bus rev">
        <div class="front">
            <div class="content">
                <h3>le Star-Lord</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">35 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <h3>le Star-Lord</h3>
                <div class="zoom"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block modals %}
    <div class="modal sodade" role="dialog" aria-modal="true" aria-label="Galerie de photos du Sodade agrandie">
        <div class="close"></div>
        <div class="slider">
            <img src="{{ asset('build/images/photo/bus/classic/sodade/1.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/sodade/2.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/sodade/3.webp') }}" alt="Image défilant horizontalement">
        </div>
    </div>
    <div class="modal poowood" role="dialog" aria-modal="true" aria-label="Galerie de photos du Poowood agrandie">
        <div class="close"></div>
        <div class="slider h-size-35">
            <img src="{{ asset('build/images/photo/bus/classic/poowood/1.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/poowood/2.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/poowood/3.webp') }}" alt="Image défilant horizontalement">
        </div>
    </div>
    <div class="modal angec6" role="dialog" aria-modal="true" aria-label="Galerie de photos d'Ange C6 agrandie">
        <div class="close"></div>
        <div class="slider">
            <img src="{{ asset('build/images/photo/bus/classic/angec6/1.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/angec6/2.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/angec6/3.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/angec6/4.webp') }}" alt="Image défilant horizontalement">
        </div>
    </div>
    <div class="modal slinone" role="dialog" aria-modal="true" aria-label="Galerie de photos du S Linone agrandie">
        <div class="close"></div>
        <div class="slider">
            <img src="{{ asset('build/images/photo/bus/classic/slinone/1.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/slinone/2.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/slinone/3.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/slinone/4.webp') }}" alt="Image défilant horizontalement">
        </div>
    </div>
    <div class="modal carnaval" role="dialog" aria-modal="true" aria-label="Galerie de photos du Carnaval agrandie">
        <div class="close"></div>
        <div class="slider">
            <img src="{{ asset('build/images/photo/bus/classic/carnaval/1.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/carnaval/2.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/carnaval/3.webp') }}" alt="Image défilant horizontalement">
        </div>
    </div>
    <div class="modal starlord" role="dialog" aria-modal="true" aria-label="Galerie de photos du Star-Lord agrandie">
        <div class="close"></div>
        <div class="slider">
            <img src="{{ asset('build/images/photo/bus/classic/starlord/1.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/starlord/2.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/starlord/3.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/bus/classic/starlord/4.webp') }}" alt="Image défilant horizontalement">
        </div>
    </div>
{% endblock %}