{% extends 'base.html.twig' %}
{% set title = "Bus Discothèque Paris" %}
{% set meta_description = "Bus Discothèque Paris organise votre soirée disco à travers les meilleurs endroits de la capitale grace à notre éventail de véhicules réaménagés pour la fête !" %}
{% set canonical = "www.bus-discotheque-paris.fr/" %}
{% block main %}
    <img src="{{ asset('build/images/logo.webp')}}" alt="logo busdiscotheque"/>
    <h1>Bus Discothèque Paris</h1>
    <div class="shadow column">
        <h2>LUXURY PRIVATE PARTY BUS</h2>
        <p>
            Avec <a href="{{ path('bus') }}">ses véhicules</a> entièrement réaménagés et son concept totalement inédit, Bus Discotheque Paris offre un décor prestigieux pour la tenue de vos événements les plus marquants. En privatisant l'un des bus de notre flotte, c’est une visite inédite de la capitale que vous vous offrirez le temps d’une soirée, en réunissant tous les éléments pour faire votre bonheur : vos proches, vos musiques préférées, un verre à la main, Paris !
        </p>
        <p>
            Fondé il y a plus de 10 ans, Bus Discotheque révolutionne la fête mondaine parisienne en <a href="{{ path('pricing') }}">vous offrant</a> une expérience inoubliable entièrement à votre image, pour que vos yeux scintillent comme les milliers de lumières de la Tour Eiffel...
        </p>
    </div>
    <div id="party" class="slider">
        <img src="{{ asset('build/images/photo/index/small/1.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/2.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/3.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/4.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/5.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/6.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/7.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/8.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/9.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/10.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/11.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/12.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/13.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/14.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/15.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/16.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/17.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/18.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/19.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/20.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/21.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/22.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/23.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/24.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/25.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/26.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/27.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/28.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/29.webp') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/small/30.webp') }}" alt="Image défilant horizontalement">
    </div>
    <div class="shadow bothsides">
        <div>
            <h3>Votre soirée commence ici !</h3>
            <p>Bus Discotheque Paris est à l'écoute de toutes vos demandes et vous propose de <a href="{{ path('options') }}">personnaliser</a> entièrement votre programme. Plus d'infos sur le déroulé complet de <a href="{{ path('program') }}">votre soirée</a> !</p>

            <p class="contact">
                <span class="contact-booking"><a href="{{ path('booking') }}">Réservation</a></span>
                <span class="contact-tel">01 89 47 07 40</span>
                {% if "now"|date('m-d') >= '08-01' and "now"|date('m-d') <= '08-31' %}
                <span class="contact-holiday">Notre réception étant en vacances entre le <span class="bold">1er et le 31 août</span>, il n'est pas possible de faire de réservation par téléphone entre ces dates. Vous recevrez en revanche toujours une réponse personnalisée en nous joignant par email.</span>
                {% endif %}
                <span class="contact-open">Du lundi au samedi de 10h à 19h</span>
                <span class="contact-email">commercial@busdiscotheque.com</span>
                <span class="contact-social-message">Retrouvez nous sur nos réseaux sociaux !</span>
            </p>
            <div class="contact-social-icons">
                <div class="contact-social-icons-instagram"><a href="https://www.instagram.com/busdiscotheque_paris"></a></div>
                <div class="contact-social-icons-facebook"><a href="https://www.facebook.com/wearebusdiscotheque"></a></div>
            </div>
        </div>
        <div class="video"><div class="overlay"></div><video preload="auto" loop><source src="{{ asset('build/images/video/video_index.mp4') }}" type="video/mp4"/></video></div>
    </div>
{% endblock %}
{% block modals %}
    <div class="modal party" role="dialog" aria-modal="true" aria-label="Galerie de photos de soirée agrandies">
        <div class="close"></div>
        <div class="slider h-size-50">
            <img src="{{ asset('build/images/photo/index/large/1.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/2.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/3.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/4.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/5.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/6.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/7.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/8.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/9.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/10.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/11.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/12.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/13.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/14.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/15.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/16.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/17.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/18.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/19.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/20.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/21.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/22.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/23.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/24.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/25.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/26.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/27.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/28.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/29.webp') }}" alt="Image défilant horizontalement">
            <img src="{{ asset('build/images/photo/index/large/30.webp') }}" alt="Image défilant horizontalement">
        </div>
    </div>
{% endblock %}