{% extends 'base.html.twig' %}
{% block title %}{{ current_path }}{% endblock %}
{% block video_bg %}{% include 'default/layouts/video-bg.html.twig' with {'content' : 'index'} %}{% endblock %}
{% block main %}
    <img src="{{ asset('build/images/logo.webp')}}" alt="logo busdiscotheque"/>
    <h1>Luxury private party bus</h1>
    <div class="shadow column">
        <h2>Illuminez la capitale</h2>
        <p>
            Avec ses véhicules entièrement réaménagés et son concept totalement inédit, Bus Discotheque Paris offre un décor prestigieux pour la tenue de vos événements les plus marquants. En privatisant l'un des bus de notre flotte, c’est une visite inédite de la capitale que vous vous offrirez le temps d’une soirée, en réunissant tous les éléments pour faire votre bonheur : vos proches, vos musiques préférées, un verre à la main, Paris !
        </p>
        <p>
            Fondé il y a plus de 10 ans, Bus Discotheque révolutionne la fête mondaine parisienne en vous offrant une expérience inoubliable entièrement à votre image, pour que vos yeux scintillent comme les milliers de lumières de la Tour Eiffel...
        </p>
    </div>
    <div class="slider">
        <img src="{{ asset('build/images/photo/index/21.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/22.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/1.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/2.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/3.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/23.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/24.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/4.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/5.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/26.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/27.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/6.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/7.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/8.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/9.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/10.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/11.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/12.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/13.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/14.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/15.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/16.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/17.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/18.png') }}" alt="Image défilant horizontalement">
        <img src="{{ asset('build/images/photo/index/25.png') }}" alt="Image défilant horizontalement">
    </div>
    <div class="shadow bothsides">
        <div>
            <h3>Votre événement commence ici !</h3>
            <p>Bus Discotheque Paris est à l'écoute de toutes vos demandes et vous propose de personnaliser entièrement votre événement. Pour plus d'infos sur le déroulé complet de l'une de nos soirées, rendez-vous dans l'onglet "Votre événement" !</p>

            <p class="contact">
                <span class="contact-tel">06 58 31 18 77</span>
                <span class="contact-open">Du lundi au samedi de 10h à 19h</span>
                <span class="contact-email">commercial@busdiscotheque.com</span>
                <span class="contact-social-message">Retrouvez nous sur nos réseaux sociaux !</span>
            </p>
            <div class="contact-social-icons"></div>
        </div>
        <div><video preload="none" muted autoplay loop><source src="{{ asset('build/images/video/video_index.mp4') }}" type="video/mp4"/></video></div>
    </div>
{% endblock %}