{% extends 'base.html.twig' %}
{% set title = "Nos options de soirées" %}
{% set meta_description = "Découvrez les différentes options que nous proposons pour vos soirées endiablées dans les rues de Paris. Traiteur, personnel, activités, nous en avons pour tous les goûts !" %}
{% block main %}
    <img style="display:none;" src="{{ asset('build/images/background/options.webp')}}" />
    <section id="traiteur" class="shadow">
        <h1>traiteur</h1>
        <p>
            Vos hôtes sont affamés par leur tour de la capitale ?<br>
            Nous vous proposons notre service traiteur sous la forme de délicieux plateaux, dressés par nos équipes et mis à disposition tout au long de votre soirée.<br>
            Un moyen idéal de savourer la nuit parisienne !
        </p>
        <table>
            <thead>
                <tr>
                    <td>Pièces/Pers</td>
                    <td>Composition</td>
                    <td>Prix/Pers</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10</td>
                    <td>7 salés / 3 sucrés</td>
                    <td>15€</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>10 salés / 5 sucrés</td>
                    <td>22€</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>15 salés / 5 sucrés</td>
                    <td>30€</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>20 salés / 5 sucrés</td>
                    <td>35€</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section id="traiteur_slider">
        <div class="slider">
            {% for picture in pictures['traiteur'] %}
                <img src="{{ asset('build/images/photo/options/traiteur/'~picture['name']~'.webp') }}" alt="{{ picture['title'] }}">
            {% endfor %}
        </div>
    </section>
    <section id="other_options" class="shadow">
        <h2>Les options en plus</h2>
        {% for group in groups %}
            {% if group.getDisplay() %}
                <h3 class="{{ group.getName() }}">{{ group.getTitle() }}</h3>
                <div class="row">
                    {% set options = group.getOptions() %}
                    {% for option in options %}
                        <div id="{{ option.getName() }}">
                            <div class="icon"></div>
                            <h4>{{ option.getTitle() | raw }}</h4>
                            <h5>{{ option.getPrice() | raw }}</h5>
                            <p>
                                {{ option.getText() | raw }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </section>
    <section id="other_options_slider">
        <div class="slider">
            {% for picture in pictures['autres'] %}
                <img src="{{ asset('build/images/photo/options/autres/'~picture['name']~'.webp') }}" alt="{{ picture['title'] }}">
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block modals %}
    <div class="modal traiteur" role="dialog" aria-modal="true" aria-label="Galerie de photos du traiteur agrandie">
        <div class="close"></div>
        <div class="slider side-content">
            {% for picture in pictures['traiteur'] %}
                <div>
                    <img src="{{ asset('build/images/photo/options/traiteur/'~picture['name']~'.webp') }}" alt="{{ picture['title'] }}">
                    <p>{{ picture['title'] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal other_options" role="dialog" aria-modal="true" aria-label="Galerie de photos d'autres options agrandie">
        <div class="close"></div>
        <div class="slider side-content">
            {% for picture in pictures['autres'] %}
                <div>
                    <img src="{{ asset('build/images/photo/options/autres/'~picture['name']~'.webp') }}" alt="{{ picture['title'] }}">
                    <p>{{ picture['title'] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}