{% extends 'base.html.twig' %}
{% set title = "Découvrez nos différentes offres par taille de bus" %}
{% set meta_description = "Nous vous proposons différentes offres adaptés à tous les besoins et tous les budgets. Trouvez celle qui vous correspond !" %}
{#{% block video_bg %}{% include 'default/layouts/video-bg.html.twig' with {'content' : 'pricing'} %}{% endblock %}#}
{% block main %}
    <section id="prices" class="shadow">
        <h1>nos offres</h1>
        <table>
            <thead>
                <tr>
                    <td></td>
                    {% for bus_type in bus_types %}
                        <td>{{ bus_type.getName() }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Places</td>
                    {% for bus_type in bus_types %}
                        <td>{{ bus_type.getSize() }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>DJ</td>
                    {% for bus_type in bus_types %}
                        <td>
                            {% if bus_type.hasDefaultOption('dj') %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Longueur</td>
                    {% for bus_type in bus_types %}
                        <td>{{ bus_type.getLength() }} m</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Durée</td>
                </tr>
                {% for i in 1..5 %}
                    <tr>
                        <td>{{ i }}h</td>
                        {% for bus_type in bus_types %}
                            <td>{% if i != 5 %}{{ bus_type.getPrice(i) }}{% else %}{{ bus_type.getPrice(i) + 300 }}{% endif %}€</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            Tous les prix indiqués sont TTC. Retrouvez tous les éléments inclus dans votre sortie dans la page "Votre soirée".<br>
            Pour toute demande de devis spécifique et pour tout supplément, veuillez nous contacter ci-dessous.
        </p>
    </section>
    <section id="better_offer" class="shadow dark">
        <h2>Vous avez une meilleure offre&nbsp;?</h2>
        <p>
            N'hésitez pas à la partager avec nous afin que nous puissions examiner comment améliorer notre proposition pour mieux répondre à vos besoins.<br>
            <br>
            Nous nous engageons à vous proposer une offre améliorée en vous offrant des avantages encore plus avantageux !
        </p>
    </section>
    <!--section id="crypto" class="shadow dark">
        <div>
            <div class="description">
                <p class="big">
                    Payez en crypto monnaie et bénéficiez d'un avantage exceptionnel&nbsp;!
                </p>
                <p>
                    En plus des moyens de paiements habituels (CB, virement), Bus Discotheque Paris vous offre la possibilité d'utiliser les crypto monnaies Bitcoin, Ethereum et Shiba pour finaliser la réservation de votre événement.
                </p>
            </div>
            <div class="icons">
                <div class="bitcoin"></div>
                <div class="ethereum"></div>
                <div class="shiba"></div>
            </div>
            <div class="bonus">
                <p>
                    <span class="bold">Le bonus ?</span> Nous vous offrons un pack VIP comprenant 3 bouteilles de champagne, valable pour toute réservation Classic Bus et Double Bus réglée en crypto monnaies&nbsp;!
                </p>
            </div>
        </div>
    </section-->
{% endblock %}