{% extends 'base.html.twig' %}
{% set title = "Découvrez nos différentes offres par taille de bus" %}
{% set meta_description = "Nous vous proposons différentes offres adaptés à tous les besoins et tous les budgets. Trouvez celle qui vous correspond !" %}
{#{% block video_bg %}{% include 'default/layouts/video-bg.html.twig' with {'content' : 'pricing'} %}{% endblock %}#}
{% block main %}
    <section id="prices" class="shadow">
        <h1>nos offres</h1>
        <table>
            <thead>
                <tr>
                    <td></td>
                    {% for bus_type in bus_types %}
                        <td>{{ bus_type.getName() }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Places</td>
                    {% for bus_type in bus_types %}
                        <td>{{ bus_type.getSize() }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>DJ</td>
                    {% for bus_type in bus_types %}
                        <td>
                            {% if bus_type.hasDefaultOption('dj') %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Longueur</td>
                    {% for bus_type in bus_types %}
                        <td>{{ bus_type.getLength() }} m</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Durée</td>
                </tr>
                {% for i in 1..5 %}
                    <tr>
                        <td>{{ i }}h</td>
                        {% for bus_type in bus_types %}
                            <td>{% if i != 5 %}{{ bus_type.getPrice(i) }}{% else %}{{ bus_type.getPrice(i) + 300 }}{% endif %}€</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            Tous les prix indiqués sont TTC. Retrouvez tous les éléments inclus dans votre sortie dans la page "Votre soirée".<br>
            Pour toute demande de devis spécifique et pour tout supplément, veuillez nous contacter ci-dessous.
        </p>
    </section>
    <section id="promotions">
        <h2>Promotions</h2>
        <p class="center">
            Profitez de nos promotions exclusives sur la location de nos BusDiscotheque et nos options.<br>
            Des réductions irrésistibles vous attendent sur cette page dès maintenant. À vous de jouer&nbsp;!
        </p>
        <div id="promos">
            <div>
                <h3>pack souvenir</h3>
                <img src="{{ asset('build/images/icons/promos/1.jpg') }}">
                <p>
                    Découvrez le mégaplaisir de notre offre spéciale&nbsp;! Louez notre Photo Booth et le Photobooth 360, et recevez en prime des accessoires lumineux d’une valeur de 180 € pour illuminer vos souvenirs&nbsp;! :
                </p>
                <ul>
                    <li>Photobooth 50 photos au prix de 150 (350 €)</li>
                    <li>Photobooth 360 (400€)</li>
                    <li>Accessoires lumineux offert jusqu’a 180 € (Pack 35 personnes au choix)</li>
                </ul>
                <p class="center">
                    TARIF&nbsp;: 750 €<br>
                    Economisez&nbsp;: 180 €
                </p>
            </div>
            <div>
                <h3>2 options achetées, -50% sur la 3<sup>ème</sup></h3>
                <img src="{{ asset('build/images/icons/promos/2.jpg') }}">
                <p>
                    Une offre que vous ne pouvez pas refuser&nbsp;:<br>
                    Acheter deux options et obtenez la troisième à moitié prix&nbsp;!<br>
                    Ne manquez pas cette opportunité de maximiser votre expérience à un prix avantageux. Réservez dès maintenant pour en profiter&nbsp;!
                </p>
            </div>
            <div>
                <h3>Votre anniversaire en semaine</h3>
                <img src="{{ asset('build/images/icons/promos/3.jpg') }}">
                <p>
                    Célébrez votre anniversaire en semaine avec style en optant pour nos BusDiscotheque sur 3 heures de location, transformé en pack anniversaire à prix réduit.<br>
                    Dansez, riez et créez des souvenirs inoubliables sans vous souciez du coût. Réservez dès maintenant pour une expérience d'anniversaire unique en son genre.
                </p>
                <p class="center">
                    Economiez&nbsp;315 €: sur un Classic Bus<br>
                    Economisez&nbsp;415 €: sur un Double Bus
                </p>
            </div>
            <div>
                <h3>Photobooth en semaine</h3>
                <img src="{{ asset('build/images/icons/promos/4.jpg') }}">
                <p>
                    Ne laissez pas passer cette opportunité en semaine&nbsp;!<br>
                    Profitez de notre offre exceptionnelle&nbsp;: le photobooth avec 150 photos au prix de 50 photos avec la location d'un de nos DiscoBus.<br>
                    Capturez plus, payez moins. Réservez dès maintenant.
                </p>
                <p class="center">
                    Economisez&nbsp;: 100 €
                </p>
            </div>
            <div>
                <h3>Photobooth 360 en semaine</h3>
                <img src="{{ asset('build/images/icons/promos/5.jpg') }}">
                <p>
                    Vivez l'expérience du photobooth 360 en semaine, avec une réduction de 100 €&nbsp;!<br>
                    Ne manquez pas cette offre pour capturer des souvenirs spectaculaires à prix réduit. Réservez dès maintenant.
                </p>
                <p class="center">
                    Economisez&nbsp;: 100 €
                </p>
            </div>
            <div>
                <h3>Champagne en semaine</h3>
                <img src="{{ asset('build/images/icons/promos/6.jpg') }}">
                <p>
                    Égayez vos soirées en semaine avec nos bus discothèques&nbsp;! Pour chaque location, nous vous offrons une bouteille de champagne en cadeau de bienvenue. Réservez dès maintenant pour une fête inoubliable, accompagnée d'une touche d'élégance&nbsp;!
                </p>
            </div>
            <div>
                <h3>Soirée rétro en semaine</h3>
                <img src="{{ asset('build/images/icons/promos/7.jpg') }}">
                <p>
                    Plongez dans une soirée rétro inoubliable&nbsp;!<br>
                    Louez notre BusDiscotheque en semaine et profitez gratuitement d'un pack arcade et d'un Coin Pusher pendant votre prestation.<br>
                    Réservez dès maintenant pour une expérience qui marie nostalgie et divertissement à l'état pur&nbsp;!
                </p>
                <p class="center">
                    Econmisez&nbsp;: 225 €
                </p>
            </div>
            <div>
                <h3>Une expérience assurée</h3>
                <img src="{{ asset('build/images/icons/promos/8.jpg') }}">
                <p>
                    Découvrez notre offre exclusive en semaine&nbsp;: louez un DiscoBus et bénéficiez gratuitement de la dépose de vos boissons à notre entrepôt, ainsi que de l'assurance annulation offerte&nbsp;! Une expérience complète et sans soucis vous attend.<br>
                    Réservez dès maintenant pour une soirée exceptionnelle&nbsp;!
                <p class="center">
                    Economisez&nbsp;: 150 €
                </p>
            </div>
        </div>
    </section>
    <section id="better_offer" class="shadow dark">
        <div class="sandwich">
            <h2>Vous avez une meilleure offre&nbsp&nbsp;?</h2>
        </div>
        <p>
            N'hésitez pas à la partager avec nous afin que nous puissions examiner comment améliorer notre proposition pour mieux répondre à vos besoins.<br>
            <br>
            Nous nous engageons à vous proposer une offre améliorée en vous offrant des avantages encore plus avantageux&nbsp;!
        </p>
    </section>
{% endblock %}