<div id="mobile_nav">
    <div class="options">
        <div class="close">X</div>
    </div>
    <div class="menu">
        <div class="item{% if 'index' in current_path %} current{% endif %}"><span><a href="{{ path('index') }}"></a></span></div>
        <div class="item droppable{% if 'bus' in current_path %} active{% endif %}">
            <span><a href="{{ path('bus') }}">Nos bus</a></span>
            <div class="chevron">></div>
            <div class="drop">
                {% for name, type in bus_types %}
                    {% if type.isDisplayedPage() %}
                        <div class="item{% if 'bus_' ~ name in current_path %} current{% endif %}"><span><a {% if type.isExternal() %}target="_blank"{% endif %} href="{% if type.isExternal() %}{{ type.getTarget() }}{% else %}{{ path('bus_' ~ name) }}{% endif %}">{{ type.getName() }}</a></span></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="item droppable{% if current_path in ['program', 'engagement'] %} active{% endif %}">
            <span class="">Votre événement</span>
            <div class="chevron">></div>
            <ul class="drop">
                <div class="item{% if 'program' == current_path %} current{% endif %}"><span><a href="{{ path('program') }}">Votre soirée</a></span></div>
                <div class="item{% if 'engagement' == current_path %} current{% endif %}"><span><a href="{{ path('engagement') }}">Notre engagement</a></span></div>
            </ul>
        </div>
        <div class="item{% if 'packs' in current_path %} current{% endif %}"><span><a href="{{ path('packs') }}">Nos packs</a></span></div>
        <div class="item{% if 'pricing' in current_path %} current{% endif %}"><span><a href="{{ path('pricing') }}">Tarifs</a></span></div>
        <div class="item{% if 'options' in current_path %} current{% endif %}"><span><a href="{{ path('options') }}">Options</a></span></div>
        <div class="item droppable{% if current_path in ['photo', 'video'] %} active{% endif %}">
            <span>Media</span>
            <div class="chevron">></div>
            <div class="drop">
                <div class="item{% if 'photo' == current_path %} current{% endif %}"><span><a href="{{ path('photo') }}">Photos</a></span></div>
                <div class="item{% if 'video' == current_path %} current{% endif %}"><span><a href="{{ path('video') }}">Videos</a></span></div>
            </div>
        </div>
        <div class="item{% if 'booking' in current_path %} current{% endif %}"><span><a href="{{ path('booking') }}">Devis</a></span></div>
    </div>
</div>