<nav>
    <div id="hamburger"></div>
    <ul>
        <li{% if 'index' in current_path %} class="current"{% endif %}><span><a href="{{ path('index') }}"></a></span></li>
        <li class="droppable{% if 'bus' in current_path %} current{% endif %}">
            <span><a href="{{ path('bus') }}">Nos bus</a></span>
            <ul class="drop">
                {% for name, type in bus_types %}
                    {% if type.isDisplayedPage() %}
                    <li{% if 'bus_' ~ name in current_path %} class="current"{% endif %}><span><a {% if type.isExternal() %}target="_blank"{% endif %} href="{% if type.isExternal() %}{{ type.getTarget() }}{% else %}{{ path('bus_' ~ name) }}{% endif %}">{{ type.getName() }}</a></span></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li class="droppable{% if current_path in ['program', 'engagement'] %} current{% endif %}">
            <span>Votre événement</span>
            <ul class="drop">
                <li{% if 'program' == current_path %} class="current"{% endif %}><span><a href="{{ path('program') }}">Votre soirée</a></span></li>
                <li{% if 'engagement' == current_path %} class="current"{% endif %}><span><a href="{{ path('engagement') }}">Notre engagement</a></span></li>
            </ul>
        </li>
        <li{% if 'packs' == current_path %} class="current"{% endif %}><span><a href="{{ path('packs') }}">Packs</a></span></li>
        <li{% if 'pricing' == current_path %} class="current"{% endif %}><span><a href="{{ path('pricing') }}">Tarifs</a></span></li>
        <li{% if 'options' == current_path %} class="current"{% endif %}><span><a href="{{ path('options') }}">Options</a></span></li>
        <li class="droppable{% if current_path in ['photo', 'video'] %} current{% endif %}">
            <span>Media</span>
            <ul class="drop">
                <li{% if 'photo' == current_path %} class="current"{% endif %}><span><a href="{{ path('photo') }}">Photos</a></span></li>
                <li{% if 'video' == current_path %} class="current"{% endif %}><span><a href="{{ path('video') }}">Videos</a></span></li>
            </ul>
        </li>
        <li{% if 'booking' in current_path %} class="current"{% endif %}><span><a href="{{ path('booking') }}">Devis</a></span></li>
    </ul>
</nav>