<nav>
    <div id="hamburger"></div>
    <ul>
        <li{% if 'index' in current_path %} class="current"{% endif %}><a href="{{ path('index') }}"></a></li>
        <li class="droppable{% if 'bus' in current_path %} current{% endif %}">
            <a href="{{ path('bus') }}"><span>Nos bus</span></a>
            <ul class="drop">
                {% for name, type in bus_types %}
                    {% if type.isDisplayedPage() %}
                    <li{% if 'bus_' ~ name in current_path %} class="current"{% endif %}><a {% if type.isExternal() %}target="_blank"{% endif %} href="{% if type.isExternal() %}{{ type.getTarget() }}{% else %}{{ path('bus_' ~ name) }}{% endif %}"><span>{{ type.getName() }}</span></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li{% if 'program' in current_path %} class="current"{% endif %}><a href="{{ path('program') }}"><span>Votre soirée</span></a></li>
        <li{% if 'packs' in current_path %} class="current"{% endif %}><a href="{{ path('packs') }}"><span>Nos packs</span></a></li>
        <li{% if 'pricing' in current_path %} class="current"{% endif %}><a href="{{ path('pricing') }}"><span>Tarifs</span></a></li>
        <li{% if 'options' in current_path %} class="current"{% endif %}><a href="{{ path('options') }}"><span>Options</span></a></li>
        <li{% if 'media' in current_path %} class="current"{% endif %}><a href="{{ path('media') }}"><span>Media</span></a></li>
        <li{% if 'booking' in current_path %} class="current"{% endif %}><a href="{{ path('booking') }}"><span>Devis</span></a></li>
    </ul>
</nav>