{% set current_path = app.request.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% if title is defined %}{{ title }}{% else %}{{ current_page }}{% endif %}</title>
        <meta charset="UTF-8">
        {% if meta_description is defined %}
        <meta name="description" content="{{ meta_description }}">
        {% endif %}
        <meta name="google-site-verification" content="jEaCugoMjjcpWQI9mxB2oin_Uspo1IUzoD_H7bP4Eh4" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/webp" href="{{ asset('build/images/logo.webp') }}"/>
        {% if canonical is defined %}<link rel="canonical" href="{{ canonical }}"/>{% endif %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('jquery') }}
            {{ encore_entry_script_tags('slick') }}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </head>
    <body id="{{ current_path }}">
        {% block video_bg %}{% endblock %}
        {% include 'default/layouts/header.html.twig' %}
        <main>{% block main %}{% endblock %}</main>
        {% include 'default/layouts/footer.html.twig' %}
    {% block modals %}{% endblock %}
    </body>
</html>
