{% set current_path = app.request.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="google-site-verification" content="jEaCugoMjjcpWQI9mxB2oin_Uspo1IUzoD_H7bP4Eh4" />
        <title>Busdiscothèque Paris - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/webp" href="{{ asset('build/images/logo.webp') }}"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('jquery') }}
            {{ encore_entry_script_tags('slick') }}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </head>
    <body id="{{ current_path }}">
        {% block video_bg %}{% endblock %}
        {% include 'default/layouts/header.html.twig' %}
        <main>{% block main %}{% endblock %}</main>
    {% block modals %}{% endblock %}
    </body>
</html>
